html, body {
    height:100%;
}

#introduction {
    height: 100vh;
    position: relative;
}

#introduction .row {
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

span {
    font-weight: bold;
    font-size: 2rem;
}
.introtext p{
    font-weight: bold;
    font-size: 3rem;
    line-height: 40px;
}
#bio {
    scroll-margin-top: 60px;
}
#experience {
    scroll-margin-top: 100px;
}
.accordion-button{
    background:  #f6ae2d;
    font-weight: bold;
}
.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #f26419;
}
.accordion-item {
    background-color: #2f4858;
}

.accordion-body .desc {
    color: #ffffff;
    font-size: 20px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.2);
}

#contact {
    text-align: center;
    font-size: 1.5rem;
}
#contact img {
    width: 9%;
}

#contact .col {
    background: #f6ae2d;
    color: black;
    margin: 18px;
    height: 140px;
    border-radius: 10px;
    box-shadow: 15px 15px rgba(0,0,0,.15);
    transition: box-shadow .4s ease;
}

#contact .col:hover {
    box-shadow: 10px 10px rgba(0,0,0,.25);
}

#normal-con img {
    width: 15%;
    align-self: left;
}
#normal-con a {
    display: contents;
}
#normal-con .text {
    font-size: 1rem;
}
#gallery{
    scroll-margin-top: 60px;
}
#gallery-content{
    line-height:0;
   -webkit-column-count:5; /* split it into 5 columns */
   -webkit-column-gap:5px; /* give it a 5px gap between columns */
   -moz-column-count:5;
   -moz-column-gap:5px;
   column-count:5;
   column-gap: 5px;
}

#gallery-content img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 5px; /* to match column gap */
    filter: grayscale(100%);
}

#gallery-content img:hover {
    filter: none;
}
.bio-content {
    font-size: 1.2rem;
}
.bio-pic {
    position: relative;
}

.bio-pic .rollover-img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
}

.bio-pic:hover .rollover-img {
    opacity: 1;
}

@media (max-width: 1000px) {
    #gallery-content {
     -moz-column-count:    3;
     -webkit-column-count: 3;
     column-count:         3;
    }
    #contact img {
        width: 15%;
    }
}

@media (max-width: 767px) {
    .bio-pic {
        visibility: hidden;
    }
}

 
@media only screen and (max-width: 600px){
    img {
        margin-top: 10px;
    }
    .exp-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .introtext p{
        font-weight: bold;
        font-size: 2rem;
    }
    #gallery-content {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
       }
}
@media only screen and (max-width: 400px){
    #contact .container{
        height: 70%;
    }

    #contact .col {
        height: 90px;
    }
}

#nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    background-color: #f6ae2d;
    position: fixed;
    width: 100%;
    z-index:99;
    font-weight: bold;
}
  
#nav li:hover{
    background-color: #f26419;
}
#nav a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

